<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="io.github.tortoyoyo.toast"
    version="0.0.7">
    <name>Toast</name>
    <description>Cordova Toast Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,toast</keywords>
    <repo>https://github.com/tortoyoyo/io.github.tortoyoyo.toast</repo>
    <issue>https://github.com/tortoyoyo/io.github.tortoyoyo.toast/issues</issue>

    <js-module src="www/ToastProxy.js" name="toast">
        <merges target="navigator.toast" />
    </js-module>

    <!-- firefoxos -->
    <platform name="firefoxos">
        <config-file target="config.xml" parent="/*">
            <feature name="Toast">
                <param name="firefoxos-package" value="Toast" />
            </feature>
            <permission name="desktop-notification" description="Needed for creating system notifications."/>
        </config-file>
        <asset src="www/firefoxos/toast.css" target="css/toast.css" />
        <asset src="www/firefoxos/gradient.png" target="img/gradient.png" />
        <asset src="www/firefoxos/pattern.png" target="img/pattern.png" />
        <js-module src="src/firefoxos/Toast.js" name="Toast">
          <runs />
        </js-module>
    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Toast" >
                <param name="android-package" value="io.github.tortoyoyo.toast.Toast"/>
                <param name="onload" value="true" />

            </feature>
        </config-file>

        <source-file src="src/android/Toast.java" target-dir="src/io/github/tortoyoyo/toast" />
    </platform>
</plugin>
